name: Java CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - uses: gradle/gradle-build-action@v3
        with:
          gradle-version: 8.5
          build-root-directory: app

      - name: Run Checkstyle
        working-directory: app
        run: ./gradlew checkstyleMain checkstyleTest

      - name: Run tests
        working-directory: app
        run: ./gradlew test

      - name: Run Make Report
        working-directory: app
        run: make report
        
      - uses: qltysh/qlty-action/coverage@v1
        with:
          token: {{secrets.QLTY_COVERAGE_TOKEN}}
          files: reports/coverage.xml
